/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/livewire-tmp/*
/storage/app/public/profile-photos/*
/storage/app/public/records/*
/storage/app/public/referrals/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
